ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

ul li {
    float: left;
}

ul li a {
    padding: 5;
    display: block;
    color: blue;
    text-align: center;
    padding: 14 px 16px;
    text-decoration: none;
}