
body {
  margin: 0;
  padding: 0;
}
h1 {
    margin:10;
    text-align: center;
}


/*
h2, p {
  margin: 20px;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center;
}/*
ul li {
  float: left;
  display: flex;
  justify-content: center;
}
*/
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}