
body {
  margin: 0;
  padding: 0;
}
h1 {
    margin-left:2%;
    margin-top: 4%;
    text-align: left;
}
#hi {
  margin-left: 2%;
  margin-right: 4%;
  font-size: 24px;
}
#button_main{
  display: inline-block;
  color: rgb(12, 10, 10);
  background-color: antiquewhite;
  padding: 19px 20px;
  text-decoration: none;
  margin-left: 2%;
  margin-right: 4%;
  border-radius: 15px;
  transition: background-color 300ms, color 300ms;
}
#button_main:hover{
  background-color: #111111;
  color: aliceblue;
}
/*
h2, p {
  margin: 20px;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: right;
}/*
ul li {
  float: left;
  display: flex;
  justify-content: center;
}
*/
ul li a {
  display: block;
  color: rgb(12, 10, 10);
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}